# Default ignored files
/../../Abstract classes. Interfaces./.idea/shelf/
/../../Abstract classes. Interfaces./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Abstract classes. Interfaces./.idea/httpRequests/
# Datasource local storage ignored files
/../../Abstract classes. Interfaces./.idea/dataSources/
/../../Abstract classes. Interfaces./.idea/dataSources.local.xml
